# To use environtment variables, rename this file to .env 

# REST API porttt
API_PORT=8081

# env to configure database 
DB_HOST=127.0.0.1
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=12345
DB_CANTI=db_canti

# env to configure mqtt broker
MQTT_HOST = mqtt://127.0.0.1
MQTT_PORT = 1883
MQTT_USER = usserr
MQTT_PASSWORD = passwweew
TOPIC_1=pummamqtt
TOPIC_2=pummamqtt/api/canti

# payload path used to receive data from raspberry pi
# this env is configured to be used on device canti
PAYLOAD_CANTI_TS=TSjsn
PAYLOAD_CANTI_DATE=Datejsn
PAYLOAD_CANTI_WATERLEVEL=tinggijsn
PAYLOAD_CANTI_TEMP=suhu
PAYLOAD_CANTI_VOLTAGE=tegangan

# if need help to run this program or config the environtment
# you can contact me on telegram chat : https://t.me/emenacee